flask
streamlit

tensorflow
numpy
pillow
matplotlib

# LangChain Core
langchain
langchain-core 
langchain-community

# Hugging Face Integration
langchain-huggingface 
transformers 
huggingface-hub 

# Environment Variable Management
python-dotenv

grandalf

reportlab
gradio_client