
flask==3.0.3

# ===============================
# Machine Learning / Deep Learning
# ===============================

numpy==1.26.4
pillow==9.5.0


# ===============================
# LangChain Core
# ===============================
langchain==1.0.0
langchain-core==1.0.0
langchain-community==0.4
langchain-huggingface==1.0.0
transformers==4.57.1

# ===============================
# Environment Variable Management
# ===============================
python-dotenv==1.0.1

# ===============================
# PDF Generation
# ===============================
reportlab==4.1.0
gradio_client
