Flask==3.0.3
gunicorn

numpy==1.26.4
pillow>=10.4.0

langchain==1.0.0
langchain-core==1.0.0
langchain-community
langchain-huggingface

transformers
huggingface-hub
gradio-client

python-dotenv
reportlab
pydantic
