<footer class="site-footer">
    <div class="footer-container">

        <div class="footer-brand">
            <h3>SkinAI</h3>
            <p>AI-powered Acne Skin Disease Prediction System</p>
        </div>

        <div class="footer-links">
            <h4>Quick Links</h4>
              <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('upload_img') }}">Upload</a></li>
        <li><a href="{{ url_for('result') }}">Result</a></li>
        <li><a href="{{ url_for('contact') }}">Contact</a></li>
    </ul>
        </div>

        <div class="footer-social">
            <h4>Connect</h4>
            <a href="https://github.com/Parth-Mahadik-1" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/parth-mahadik" target="_blank">LinkedIn</a>
            <a href="mailto:parthtech2618@gmail.com">Email</a>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 SkinAI | Developed by Parth Mahadik | All Rights Reserved
    </div>
</footer>
